input[type='checkbox'] {
	position: relative;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
}
input[type='checkbox']:after {
	content: '';
	position: absolute;
	display: none;
}
